* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Tahoma;
}
a {
    outline: none;
}
img {
    border: 0;
}
li {
    list-style: none;
}
a:link, a:visited {
    color: #256392;
}
a:hover {
    color: #CC0000;
}
.clearfix {
    clear: both;
}
.wrap {
    width: 960px;
    margin: auto;
}
.new {
    width: 27px;
    height: 17px;
    display: block;
    position: absolute;
    background: url(http://124.248.37.153:88/images/new.gif);
    overflow: hidden;
}

.header {
    height: 90px;
    background-color: rgb(140, 31, 34);
    background-repeat: repeat-x;
    /*position:fixed;*/
}
.logo {
    width: 140px;
    height: 59px;
    margin-top: 23px;
    float: left;
    display: block;
    background: url('../image/logo.png');
    text-indent: -9999px;
    background-repeat: no-repeat;
}
/*NAV*/

.nav {
    float: left;
    margin: 38px 0 0 50px;
    position: relative;
}
.nav li {
    padding: 0 20px;
    float: left;
}
.nav li a {
    line-height: 40px;

}
.nav li a:link, .nav li a:visited {
    height: 44px;
    font-size: 18px;
    padding: 0 2px;
    color: #ffffff;
    display: block;
    /*float: left;*/
    text-decoration: none;
    font-family: "Microsoft Yahei";
}
.nav li a:hover, .nav .nav-select a:link, .nav-select a:visited, .nav-select a:hover {
    border-bottom: 3px solid #ffffff;
    color: #00f;
}
/*MAIN*/

.main-left {
    float: left;
    width: 200px;
}
.main-right {
    float: right;
    width: 760px;
}
.main-panel {
    position: relative;
    width: 100%;
    float: left;
    background: url(http://124.248.37.153:88/images/main-panel-bg.png) repeat-x;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E1E9EC;
    margin-top: 10px;
}
.main-panel h2 {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    margin: 6px 10px 0px 10px;
    border-bottom: 1px solid #ECF1F3;
    padding-bottom: 8px;
}
.main-intro {
    height: 460px;
}
.main-intro ul {
    margin: 0 20px;
}
.main-intro ul li {
    border-bottom: 1px solid #ECF1F3;
    height: 110px;
    padding-top: 20px;
}
.main-intro ul li h3 {
    font-size: 14px;
    color: #333;
    margin: 5px 0 5px 0;
}
.main-intro ul li p {
    color: #999;
    line-height: 18px;
}
.main-intro ul li em {
    float: left;
    display: block;
    background: url(http://124.248.37.153:88/images/icon.png);
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.main-news {
    height: 225px;
}
.main-news ul {
    padding: 5px 15px 0 12px;
}
.main-news ul li {
    color: #999;
    line-height: 22px;
    height: 20px;
    overflow: hidden;
    margin-top: 8px;
    background: url(http://124.248.37.153:88/images/disc.gif) no-repeat 0 10px;
    text-indent: 10px;
}
.main-news ul li span {
    float: right;
    margin-left: 8px;
}
.main-news2 {
    height: 225px;
}

/*FOOTER*/

.footer {
    float: left;
    width: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
    color: #999;
    line-height: 22px;
    padding: 20px 0 20px 0;
    background: #F5F5F5;
    border-top: 1px solid #E6E6E6;
}
/*SOFT*/

/*#表格*/
.tab{

    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    margin-left: 230px ;
    margin-top: 30px;
}

.righttd{
    padding: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.lefttd{

    border-left: 1px solid white;
    border-top: 1px solid white;
    background-color: rgb(140, 31, 34);
}
/*# 导航条*/
#menu a {
    width: 100px;
    text-align: center;
}
/*纯css*/
#m1 li:hover ul { visibility: visible; }
#m1 {
    left: 95px;
    top: 48px;
    display: none;
    position: absolute;
    z-index: 1000;
}
#m1 li {
    float: left;
    /*width: 280px;*/
    clear:both;
    padding: 0 0;
}
#m1 a {

    background: rgb(140, 31, 34);
    height: 40px;
    line-height: 40px;
    /*width: 100px;*/
    color: #FFF;
    font-size: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid white;
}
#m1 a:hover {
    height: 40px;
    line-height: 40px;
    color: red;
    background: #FFF;
}

#search{
    padding:2px 2px;
    margin: 0 50px;
    width:400px;
    border: rgb(245,248,249) solid 1px;
	position: relative;   
    

}
#search input,select{
	font-size:15px;
    border-radius: 2px;
    padding: 5px 5px;
    margin:0 3px;
}
#search select{
    padding: 5px 7px;
}
#jqxWidget{
    position: relative;
    top:20px;
}
/*#search input{
 
}
#search select{
	font-size: 20px;

}
*/